.main {
  display: flex;
  flex-direction: column;
}
.heading {
  height: 9%;
  background-color: rgb(59, 59, 59);
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  padding: 10px;
  font-size: larger;
  width: 100%;
}
.form {
  margin: 5px;
  font-size: larger;
  font-weight: bolder;
  background-color: rgba(110, 248, 97, 0.288);
  width: 97.5%;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  align-items: center;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
}
.userName,
.Password {
  width: 200px;
}
