.headings {
  height: 9%;
  background-color: rgb(59, 59, 59);
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  padding: 10px;
  font-size: larger;
  width: 100% !important;
}
.inputFields{
    border: 1px solid black;
    width: 100%;
}

