table {
  height: 90vh;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
}
.tableCSS {
  border: 1px solid black;
}
.total {
  height: 9%;
  background-color: rgb(59, 59, 59);
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  padding: 10px;
  font-size: larger;
  width: 100%
}
.hading {
  background-color: white;
  top: 2px;
  position: sticky;
}
.tableCountry{
  max-width: 58vw;
  word-wrap: break-word;
  width: 58vw;
}
.setButton
{
  height: fit-content;
}
